<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


<listeners>
       <listener class-name="OodlesDB.listeners"/>
  </listeners>
  <test name="Sales lead">
    <classes>
      <class name="OodlesDB.Salestest"/>
      </classes>
      </test>
      
     <!-- <test name="test">
      <classes>
      <class name="OodlesDB.validatetitle"/>
       </classes>
      </test> -->
      
      <!--<test name="test1">
            <classes>
      <class name="OodlesDB.Validdashboardhome"/>
    </classes>
  </test>--> 
  <!-- Test -->
</suite> <!-- Suite -->
        
      