<Configuration status="WARN">
<Properties>
<Property name= "basepath">./Logs</Property>
</Properties>
  <Appenders>
  
  <RollingFile name="File" fileName="$(basepath)/print.log" filePattern="$(basepath)/print-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
                 
                 <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </RollingFile>
    
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  <Logger name="OodlesDB.Salestest" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
